<html>
	<head>
		<title>
			Vue JS
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

	</head>
	<body>
		<div class="authContainer" >
			<template>
				<v-app>
					<v-layout row wrap align center justify-center>
					<!-- PLACE FOR ADDING OF CONTENT -->
						<v-form ref="form" v-model="valid" lazy-validation class="authorization-form">						
							<div class="form-state">{{formLabel}}</div>
							<v-text-field
								v-model="email"
								:rules="emailRules"
								label="E-mail"
								required
							></v-text-field>
							<v-text-field
								:rules="passwordRules"
								label="Пароль"
								type="password"
								v-model = "password"
								required
							></v-text-field>
							<v-text-field
								:rules="repasswordRules"
								label="Повторите пароль"
								v-model = "repassword"
								type="password"
								v-if = "retryPasswordFlag"
								required
							></v-text-field>

							<v-checkbox
								v-model="checkbox"
								label="Запомнить меня"
								v-if = "!retryPasswordFlag"
							></v-checkbox>
							<v-btn
								:disabled="!valid"
								@click="submit"
							>
							ОК							
							</v-btn>
							<v-btn @click="registration">{{buttonSubmit}}</v-btn>
						</v-form>
					
					<!-- END PLACE FOR ADDING OF CONTENT -->
					</v-layout>
				</v-app>
			</template>
		</div>
	</body>
	
	<!-- OLD MENU 	
	  <div v-bind:class="menu_class" v-if="menu_enable">
		<div class="close-menu" v-on:click="menu_enable = false;">
			<span></span>
		</div>
		<menu-items 
			v-for="item in menu"
			v-bind:key = "item.id"
			v-bind:id="item.id"
			v-bind:name="item.name"
			v-bind:class="menuItem_class">					
		</menu-items>
	  </div>
	END OLD MENU -->
	<script type="module" src="/templates/addMovie.vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/sql.js"></script>
	<script src="js/script.js"></script>
</html>