<html>
	<head>
		<title>
			Vue JS
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

	</head>
	<body>
		<div class="movieContainer" >
			<template>
				<v-app>
					<!--  Start menu block -->
					<v-navigation-drawer
						v-model="menuEnable"
						absolute
						temporary
						width=250
					>
						<v-list class="pa-1">
							<v-list-tile class="top-block-menu">

								<v-list-tile-content>
									<v-list-tile-title class="top-block-menu-text">Моифильмы.рф</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list>
						<v-list class="pt-0" dense>
							<v-divider></v-divider>

							<v-list-tile
								v-for="item in menu"
								key="item.id"
								:href="item.href"
								@click=""
								class="menu-item"
							>
								<v-list-tile-action>
									<v-icon>{{ item.icon }}</v-icon>
								</v-list-tile-action>

								<v-list-tile-content>
									<v-list-tile-title class="menu-item-text">{{ item.name }}</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list>
					</v-navigation-drawer>
					<!-- end menu block -->
					<!-- Toolbar -->
					<v-toolbar dark color="primary" class="my-toolbar">
						<v-toolbar-side-icon v-on:click.stop="menuEnable = !menuEnable"></v-toolbar-side-icon>
						<v-toolbar-title class="white--text">мофильмы.рф</v-toolbar-title>
						<v-spacer></v-spacer>
						<v-menu offset-y>
							<v-btn icon slot="activator" color="primary" dark>
								<v-icon>more_vert</v-icon>
							</v-btn>
							<v-list>
								<v-list-tile
									v-for="(item, index) in menuContext"
									:key="item.id"
									@click="">
									<v-list-tile-title>{{ item.name }}</v-list-tile-title>
								</v-list-tile>
							</v-list>
						</v-menu>
					</v-toolbar>
					<!-- End toolbar -->
					<v-layout row wrap align center justify-center>
						<v-expansion-panel popout  v-if = "showCards">
						  <v-expansion-panel-content 
							class="my-panel"
							v-for="(film, i) in films"
							:key="i"
							:class="(film.seen != 0)?'seen':null" 
						  >
							<div slot="header" ><b>{{film.name}}</b> ({{film.date}})</div>
							<v-card>
								<v-card-text>
									<div v-if="!film.film_info">
										<form>
											Информация отсутвует
											<v-text-field
												label="Уточните название фильма?"
												v-model = film.name
												:value="film.name"
												required
											></v-text-field>
											<v-btn id = "film.name" @click = "searchFilm(film.name, film.id)" >
												{{searchMovieButtonName}}
											</v-btn>
										</form>
									</div>
																
									<div v-if="film.film_info">
										<img :src="film.film_info.img"/>
										<div v-if="film.film_info.rating = (film.film_info.rating == 0)?'Нету':film.film_info.rating">Рейтинг: <b>{{film.film_info.rating}}</b></div>
										<div>Год выпуска: <b>{{film.film_info.date}}</b></div>
										<div :id="i" v-html="film.film_info.about"></div>
									</div>
									<v-btn v-if="film.seen == 0" @click = "seenMovie(film.id, i)" class="seen">Посмотрел сериал</v-btn>
									
									<div class="check-series" v-if="film.series">
										<v-chip
											label  
											v-for="(seria,  j) in film.series" 
											@click="seenSeries(film.id, seria.id, seria.seen, i, j)"
											:class="(seria.seen != 0)?'seen':null"
										>{{j+1}}</v-chip>
										<v-chip label @click="correctSeria(film.id, film.series.length, i, 'new')" class="new-seria">+</v-chip>
										<v-chip label @click="correctSeria(film.id, film.series.length, i, 'del')" class="delete-seria">-</v-chip>
										<div class="close-season">
											<v-chip label @click="closeSeason(film.id)">Сезон закрыт</v-chip>
										</div>
									</div>
									<div class="serial-settings" v-if="!film.series">
									<v-form>
										<v-select 
											label="В какой день выходят серии?" 
											:items="weekDays"
											item-text="name"
											item-value="id"
											v-model = "weekDaysSelected"
										></v-select>
										<v-text-field
											width=50
											label="На какой сейчас серии?"
											type="number"
											:rules="onlyNumbers"
											v-model="manySeries"											
											required
										></v-text-field>
										<v-btn @click = "saveSeries(film.id)" >Сохранить</v-btn>
									</v-form>
									</div>
									<button class="delete-movie-btn" @click = "deleteFromList(film.id, i)"><v-icon>delete</v-icon></button>
									<button  class="share-movie-btn" @click.stop.prevent = "shareMovie(film.token)">
										<v-tooltip top>
											<v-icon slot="activator">share</v-icon>
											<span>{{copyMessage}}</span>
										<v-tooltip top>
									</button>
								</v-card-text>
							</v-card>
						  </v-expansion-panel-content>
						</v-expansion-panel>
						
						<!-- NEXT CARD LIST FOR SEARCHED FILMS --->
						<div>
						<center style="height:50px;" v-if = "!showCards">{{searchMessage}}</center>
						<v-expansion-panel popout class="my-panel" v-if = "!showCards">
						  <v-expansion-panel-content
							v-for="(film, i) in searchedFilms"
							:key="i"
						  >
							<div slot="header"><b>{{film.name}}</b> ({{film.date}})</div>
							<v-card>
								<v-card-text>
									<div :id="'textfilm-'+i">
										<form>
											<img :src="film.imgSrc"/>
											<div>Рейтинг: {{film.rating}}</div>
											<div>Год выпуска: {{film.date}}</div>
											<div :id="i" v-html="film.description"></div>
											<v-btn :id="'describe-'+i" @click = "getDescriptionFilm(film.url, i)" > Описание </v-btn>
											<v-btn @click = "bindMovie(film, i)" > Это он! </v-btn>
										</form>
									</div>
								</v-card-text>
							</v-card>
						  </v-expansion-panel-content>
							<v-btn id = "i" v-on:click = "showCards = !showCards" >
								{{filmsLoadingButton}}
							</v-btn>
						</v-expansion-panel>
						</div>
					</v-layout>
				</v-app>
			</template>
						<input type="hidden" id="testing-code" >
		</div>
	</body>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/serialList.js"></script>
</html>